* {
  box-sizing: border-box;
}

body {
  background-color: darkslategray;
  font-family: Righteous, sans-serif;
}

.container {
  position: fixed;
  padding: 10px 20px;
  top: 50%;
  left: 0%;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  transform: translateY(-50%);
}

.footer {
  position: fixed;
  bottom: 0%;
  right: 0%;
  margin: 10px 20px;
  display: flex;
  flex-direction: row;
}

.social {
  color: orangered;
  font-size: 40px;  
  text-decoration: none;
  opacity: 0.5;
  margin: 10px;
  text-align: center;
}

.social:hover {
  opacity: 1;
}

.card {
  width: 150px;
  height: 150px;
  line-height: 130px;
  padding: 10px 10px;
  margin: 10px 20px;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: orangered;
  border-radius: 6px;
  outline: none;
  border: 2px solid transparent;
  opacity: 0.5;
  font-size: 20px;
}

.card:hover {
  opacity: 1;
  color: darkslategray;
}

span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

@media (max-width: 600px) {
  .container {
    flex-direction: column;
    left: 50%;
    top: 0;
    padding: 20px 10px;
    transform: translateX(-50%);
  }
  .card {
    margin: 20px 10px;
    width: 100px;
    height: 100px;
    line-height: 80px;
	font-size: 14px;
  }
  .footer {
 	flex-direction: column; 
  }
  .social {
    font-size: 20px;
	margin: 5px;
  }
}